@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.inter {
  font-family: "Inter", sans-serif;
}
@theme {
  /* Colors */
  --color-grey: #4e4e4e;
  --color-purple: #8c52ff;
  --color-yellow: #f9dc00;
  --color-black: #010101;
  --color-white-grey: #f8f8f8;
  --color-dark-purple: #8e63f7;

  /*Font Sizes */
  --text-custom-6xl: 64px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 32px;

  /* line height */
  --leading-100: 100%;
  --leading-120: 120%;
  --leading-150: 150%;
  --leading-160: 160%;
}

li {
  position: relative;
  width: fit-content;
}

li:hover {
  color: var(--color-purple);
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--color-purple);
  transition: width 0.3s ease;
}

li:hover::before {
  width: 100%;
}

::selection {
  color: white;
  background-color: var(--color-purple);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}
